<a href="https://colab.research.google.com/github/michaelkloess/da_base_skeleton/blob/main/TravelTide.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project: TravelTide </br>
---

### Data Exploration & Cleansing

1. Importing External Liabraries
2. Connecting to SQL Database
3. Data Exploration - Table Structure
4. Data Exploration - For each individual table

Tables:

* users
* sessions
* flights
* hotels

---
### First Step : Importing External Liabraries

In [17]:
import pandas as pd
import sqlalchemy as sa
import matplotlib.pyplot as plt

---
### Second Step : Connecting to SQL Database </br>

1. Create an engine </br>
2. Make a connection

In [18]:
traveltide_url = 'postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766.us-east-2.aws.neon.tech/TravelTide?sslmode=require'

In [ ]:
engine = sa.create_engine(traveltide_url)
connection = engine.connect()

---
## Python

### First Impression - Overview for all Tables
---

### Query for each individual table

In [69]:
users = pd.read_sql("SELECT * FROM users", engine)
sessions = pd.read_sql("SELECT * FROM sessions", engine)
flights = pd.read_sql("SELECT * FROM flights", engine)
hotels = pd.read_sql("SELECT * FROM hotels", engine)

---
### Table structure: users

##### The top 5 rows of the table users to get an first impression - users.head()

In [81]:
users.head()

,user_id,birthdate,gender,married,has_children,home_country,home_city,home_airport,home_airport_lat,home_airport_lon,sign_up_date
0,0,1990-01-22,F,False,False,usa,minneapolis,MSP,44.880,-93.217,2021-04-01
1,1,2000-11-08,M,False,False,usa,colorado springs,COS,38.806,-104.700,2021-04-01
2,2,1992-09-21,M,False,False,usa,portland,PDX,45.589,-122.597,2021-04-01
3,3,1996-11-27,F,False,False,usa,houston,IAH,29.980,-95.340,2021-04-01
4,4,1978-01-05,M,True,True,usa,honolulu,HNL,21.316,-157.927,2021-04-01

#### Table information - users.info()

In [82]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020926 entries, 0 to 1020925
Data columns (total 11 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   user_id           1020926 non-null  int64
 1   birthdate         1020926 non-null  object
 2   gender            1020926 non-null  object
 3   married           1020926 non-null  bool
 4   has_children      1020926 non-null  bool
 5   home_country      1020926 non-null  object
 6   home_city         1020926 non-null  object
 7   home_airport      1020926 non-null  object
 8   home_airport_lat  1020926 non-null  float64
 9   home_airport_lon  1020926 non-null  float64
 10  sign_up_date      1020926 non-null  object
dtypes: bool(2), float64(2), int64(1), object(6)
memory usage: 72.0+ MB

#### Statistical overview - users.describe()

In [83]:
users.describe()

            user_id  home_airport_lat  home_airport_lon
count  1.020926e+06      1.020926e+06      1.020926e+06
mean   5.104625e+05      3.855352e+01     -9.392036e+01
std    2.947161e+05      6.120248e+00      1.809645e+01
min    0.000000e+00      2.131600e+01     -1.579270e+02
25%    2.552312e+05      3.394200e+01     -1.120080e+02
50%    5.104625e+05      3.929700e+01     -8.997700e+01
75%    7.656938e+05      4.227600e+01     -7.745600e+01
max    1.020925e+06      6.125100e+01     -6.349900e+01

#### Non-values in table - users.isnull().sum()

In [84]:
users.isnull().sum() ## non-values in table

user_id             0
birthdate           0
gender              0
married             0
has_children        0
home_country        0
home_city           0
home_airport        0
home_airport_lat    0
home_airport_lon    0
sign_up_date        0
dtype: int64

#### Duplicate check-up - users.duplicated().sum()

In [85]:
users.duplicated().sum()

np.int64(0)

---
### Table structure: sessions

#### the top 5 rows of the table sessions to get an first impression - users.head()

In [ ]:
sessions.head()

#### Table information - sessions.info()

In [ ]:
sessions.info()

#### Statistical overview - sessions.describe()

In [ ]:
sessions.describe()

#### Non-values in table - users.isnull().sum()

In [ ]:
users.isnull().sum()

#### Duplicate check-up - sessions.duplicated().sum()

In [ ]:
users.duplicated().sum()

---
### Table structure: flights

#### the top 5 rows of the table sessions to get an first impression - flights.head()

In [ ]:
flights.head()

#### Table information - sessions.info()

#### Statistical overview - sessions.describe()

#### Non-values in table - users.isnull().sum()

#### Duplicate check-up - sessions.duplicated().sum()

---
### Table structure: hotels

#### the top 5 rows of the table sessions to get an first impression

#### Table information - sessions.info()

#### Statistical overview - sessions.describe()

#### Non-values in table - users.isnull().sum()

#### Duplicate check-up - sessions.duplicated().sum()